.play {
    background-color: #dfdfdf;
    display: inline-block;
    border-radius: 10px;
    width: 60px;
    height: 60px;

    position: relative;

    &>img {
        position: absolute;
        bottom: 17.5px;
        left: 17.5px;

        height: 25px;
        z-index: 1;
    }
}