.scroll {
    background-color: #dfdfdf;
    display: inline-block;
    border-radius: 10px;
    width: 60px;
    height: 60px;

    position: relative;
    overflow: hidden;
    transition: height 0.2s 0.15s;

    &>.scrollBar {
        background-color: rgba(255, 255, 255, 0.9);

        transition: opacity 0.2s 0.15s;
        
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 0;
    }

    &.expanded {
        height: 150px;
    }

    &>img {
        position: absolute;
        bottom: 17.5px;
        left: 17.5px;

        height: 25px;
        z-index: 1;
    }
}