.song {
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
    padding: 0 10px 50px 10px;
    background-color: white;
    margin: 0;

    transition-property: filter;
    transition-delay: 0.12s;
}

.fade {
    position: fixed;
    bottom: 0;
    left: 0; 
    right: 0;
    height: 100px;
    background: linear-gradient(#ffffff00, #ffffff);
}

.overlay {
    position: fixed;
    top: 0;
    left: 0; 
    right: 0;
    bottom: 0;

    opacity: 0.5;

    background-color: black;
    transition: 0.5s opacity 0.1s;
}
