.song {
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
    padding: 0 10px 50px 10px;
    background-color: white;
    margin: 0;
    
    transition: 0.5s filter 0.05s;
}

.fade {
    position: fixed;
    bottom: 0;
    left: 0; 
    right: 0;
    height: 100px;
    background: linear-gradient(#ffffff00, #ffffff);

    transition: 0.5s filter 0.05s;
}