.transpose {
    background-color: #dfdfdf;
    display: inline-block;
    border-radius: 5px;
    border-radius: 10px;
    width: 60px;
    height: 60px;

    position: relative;
    font-family: monospace;

    &>.transVal {
        position: absolute;
        text-align: center;
        pointer-events: none;
        width: 100%;
        top: 22px;
    }

    &>.transUp {
        height: 50%;

        &>img {
            position: absolute;
            top: 10px;
            left: 25px;
            
            height: 10px;
        }
    }
    &>.transDown {
        height: 50%;
        
        &>img {
            position: absolute;
            bottom: 10px;
            left: 25px;
            
            height: 10px;
            transform: rotate(180deg);
        }
    }
}